@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
.chart-container {
  .title {
    color: @light-blue;
    margin-left: 20px;
  }

  svg {
    margin-left: 20px;

    rect {
      &:hover {
        opacity: .5;
      }
    }
  }
}
html{
  .tooltip {
    width: 25px;
    text-align: center;
    background-color: #fff;
    color: #00008B;
    padding: 5px;
    border: 1px solid #00008B;
    border-radius: 50%;
  }
}
